.personal {
  display: flex;
  flex-direction: column;
}

.personalTitle {
  opacity: 0;
  text-align: center;
}

.personalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.facet {
  opacity: 0;
  min-height: 35vh;
  flex: 1;
  flex-basis: 45vw;
  border: 1px solid;
  margin: 0.5rem;
}

.content {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  position: relative;
}

ul {
  padding-right: 1rem;
}

li {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.photoSource {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  font-size: 10px;
}

.strava {
  background-image: url("./images/strava.jpg");
  background-size: 100% 100%;
}

.relationships {
  background-image: url("./images/people.jpg");
  background-size: 100% 100%;
}

.gaming {
  background-image: url("./images/rocketleague.jpg");
  background-size: 100% 100%;
}

.creativity {
  background-image: url("./images/piano.jpg");
  background-size: 100% 100%;
}

.tagline {
  text-align: center;
  margin: 0;
  padding: 1rem;
}
