.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}

.projectInfo {
  margin-bottom: 0;
}

.projectHeader {
  margin-bottom: -0.5rem;
}

.sourceLink {
  margin-top: 1rem;
}

.gifCollapse {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
