.App {
  text-align: center;
}

/*
#2d301e dark olive green
#e1e7d7 eggshellz
#4a3734 brown
#bee7b8 mint green
#c5c5c9 light grey
*/

body {
  background: #4a3734;
  font-family: "Courier New", Courier, monospace;
  color: #e1e7d7;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  background: #bee7b8;
}

.nav div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #4a3734;
  padding: 1rem 2rem 1rem 2rem;
}

a {
  color: #e1e7d7;
}

.active {
  border-bottom: 2px solid #4a3734;
}

.container {
  margin: 2rem;
}
